<div class="row">
    <div class="col-2">
        <h1>Name</h1>
    </div>
    <div class="col-2">
        <h1>Location</h1>
    </div>
</div>

<div  class="row" *ngFor="let item of items$ | async">
    
    <div class="col-2">
        {{item.name}}
    </div>
    <div class="col-2" *ngIf=item.location>
        {{item.location}}
    </div>
    <div class="col-2" *ngIf="item.location==null">
       <p>N/A</p>
    </div>
    <div class="col-2">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/items/{{item.id}}' class="btn btn-primary"><i class="fa fa-binoculars"></i></button></li>
            <li class="list-inline-item"><button routerLink='/item/edit/{{item.id}}' class="btn btn-primary"><i class="fa fa-pencil"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-trash"></i></button></li>

        </ul>
    </div>
</div>
