<ng-container *ngIf="sub">
    <h1>Items For: {{sub.name}} </h1>
    
<form [formGroup] = "form" (ngSubmit)="updateItem()">
    <div class="col-8">
        <div class="alert alert-info" *ngIf="form.dirty">
            <strong>Information: </strong> You have unsaved changes to this item.
        </div>
    </div>
    <label formArrayName="items" *ngFor="let item of itemsFormArray.controls; let i = index;">
        <input type="checkbox" [formControlName]="i">
        {{itemsData[i].name}}
      </label>
      <div class="row"*ngIf="validationErrors.length>0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

<div class="form-group text-center">
    <button [disabled]='!form.valid' class="btn btn-success mr-2" type="submit">Create</button>
    <button class="btn btn-default mr-2"(click)="cancel()">Cancel</button>
</div>
</form>

</ng-container>
