<ng-container *ngIf="sub">
    <h1>Items For: {{sub.name}} </h1>
    
<form [formGroup] = "form" (ngSubmit)="updateItem()">
    <div class="col-8">
        <div class="alert alert-info" *ngIf="form.dirty">
            <strong>Information: </strong> You have unsaved changes to this item.
        </div>
    </div>
    <div class="form-check" *ngFor="let item of itemsFormArray.controls; let i = index">
        <label formArrayName="itemsToUpdate" >
            <input class="form-check-input" type ="checkbox" [formControlName]="i">
            {{availableItems[i].name}}
            </label>
    </div>

<div class="col-2">
    <button [disabled]="!form.dirty" class="btn btn-success btn-block">Save Changes</button>

</div>
</form>

</ng-container>
