<form [formGroup]='createForm' (ngSubmit)="createForm.valid && create()" autocomplete="off">
    <h2 class="text-center text-primary"> Create Item</h2>
    <hr>
    <app-text-input [formControl]='createForm.controls["name"]' [label]='"Item Name"'></app-text-input>
    <app-text-input [formControl]='createForm.controls["location"]' [label]='"Item Location"'></app-text-input>
    
    <div class="row"*ngIf="validationErrors.length>0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button [disabled]='!createForm.valid' class="btn btn-success mr-2" type="submit">Create</button>
        <button class="btn btn-default mr-2"(click)="cancel()">Cancel</button>

    </div>
</form>

